.travel-link {
    font-weight: bold;
    border-bottom: 1px solid black;
}
.image-container {
    text-align: center;
    padding-top: 15px;
}
.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ee8f8f; 
    font-size: 150px; 
    font-family: "Brush Script MT", cursive;
    text-shadow: 
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff,
        2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 10px;
    z-index: 1;
}
.image-row {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.image-column {
    margin: 0 10px;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 167, 196, 0.671);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}
.overlay-text {
    color: black;
    font-family: Garamond, serif;
    font-size: 16px;
}
.image-column:hover .overlay {
    opacity: 1;
}
.caption-text {
    font-size: 20px;
    font-family: Garamond, serif;
    font-weight: 525;
    margin-left: 150px;
    margin-right: 150px;
}
.bg-color {
    background-color: #f4edd7;
}






